<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Packages</h1>
    {% for post in object_list %}
    <hr>
    <b><a href="{% url 'pack_detailView' post.pk %}">{{post.title}}</a></b>
    <br> Description: {{post.body}}
    <br> Days: <b>{{post.days}}</b>
    <br><b>Hoster:</b> {{post.creator.first_name}} {{post.creator.last_name}}
    <br> {% endfor%}
</body>

</html>