<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>


    {% if request.user.is_authenticated %}

    <p>profile name: {{request.user}}</p>
    <a href="{% url 'logout'%}">Logout</a> {%else %}



    <a href="{% url 'login'%}">Login</a> {%endif%}

    <hr> {% block content %}

    <h1> Add Package</h1>

    <form method="post" action="/">
        {%csrf_token%}
        <!-- Title: {{form.title}}
        <br><br>
        <p>Description: {{form.body}}</p>
        <p>Days: {{form.days}}</p> -->
        <!-- <p>Images: {{form.pac_img}}</p> -->

        {{form.as_p}}
        <button>Post</button>
        <!-- <input type="submit" name="Create task"> -->
        {% endblock %}
    </form>
    {% for tasks in tasks %}
    <hr>

    <div>

        <a class="" href="{%url 'delete' tasks.id%}">Delete</a>
        <!-- <p>

            <img src="{{tasks.pac_img}}.url" alt=" {{tasks.pac_img}}" width="325">
        </p> -->
        <b>{{tasks.title}}</b>
        <br>Desciption: {{tasks.body}}
        <p>Days: <b>{{tasks.days}}</b></p>


        <button type="button " onclick="alert( '{{tasks.title}}') ">View</button>

    </div> {% endfor %}
    <hr>
    <p class="time ">Time:{{time}}</p>

</body>

</html>